XTerm*background         :  @@TERM_BACKGROUND@@
XTerm*foreground         :  @@TERM_FOREGROUND@@

UXTerm*background        :  @@TERM_BACKGROUND@@
UXTerm*foreground        :  @@TERM_FOREGROUND@@

URxvt.background         :  @@TERM_BACKGROUND@@
URxvt.foreground         :  @@TERM_FOREGROUND@@

URxvt.iso14755		 :  false
URxvt.iso14755_52	 :  false

! XTerm*faceName           :  Pragmata Pro Mono,DejaVu Sans Mono,monospace
! UXTerm*faceName           :  Pragmata Pro Mono,DejaVu Sans Mono,monospace
! URxvt.font               :  xft:Pragmata Pro Mono-@@FONT_SIZE@@,xft:DejaVu Sans Mono-@@FONT_SIZE@@,xft:AR PL UMing CN-@@WIDE_FONT_SIZE@@,xft:monospace-@@WIDE_FONT_SIZE@@
URxvt.termName           :  xterm-256color


